# Suspend
dontaudit system_app system_suspend_control_service:service_manager { find };
dontaudit system_app system_suspend_control_internal_service:service_manager { find };
dontaudit system_app tracingproxy_service:service_manager { find };
